MYSQL_ROOT_PASSWORD='example'
MYSQL_DATABASE='example'
MYSQL_USER='example'
MYSQL_PASSWORD='example'
PROJECT_NAME='example'
PHP_IDE_CONFIG_SERVER_NAME='xdebug'

# Домен для проксирования изображений с боевого сайта
IMAGE_PROXY_DOMAIN='example.com'
PORT_NGINX=80
PORT_MYSQL=3306
NODE_VERSION=24
PHP_INI_TYPE=development
