/.env
/.idea
/src/bitrix
/src/images
/src/local/log.txt
/src/local/log_send_mail.txt
/src/local/mobile.txt
/src/logs
/src/upload
.env
*.csv
*.log
*.pdf
*.sql
*.rar
*.tar
*.tar.gz
*.tgz
*.xls
*.xlsx
sitemap.xml
sitemap*.xml
*.zip
!.gitignore
.DS_Store
.htaccess
form_log.txt
log.txt
log.json
robots.txt
Thumbs.db
web.config
/src/vendor/
/src/local/logs/
/src/test/
test.php
composer.lock
package-lock.json
/src/node_modules/
/src/local/frontend/dist/
/phpunit.xml
/logs/